# python -m pip install -r requirements.txt


# FastAPI
fastapi[all]

# Tests
pytest
httpx

# SQLAlchemy
sqlalchemy
alembic

# ODM (Object Document Mapper) for MongoDB
#odmantic

# PyJWT, PassLib
pyjwt
passlib[bcrypt]
