# python -m pip install -r requirements.txt


# FastAPI
fastapi[all]

# Tests
pytest
httpx

# SQLAlchemy
SQLAlchemy
alembic
psycopg[binary,pool]

# ODM (Object Document Mapper) for MongoDB
#odmantic

# PyJWT, PassLib
PyJWT
passlib[bcrypt]

mypy
